body {
    margin: 0;
    background-color: whitesmoke;
    font-family: "KoHo";
}

#header-bar {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    box-shadow: 1px 0 4px grey;
    padding-left: 30px;
}
#header-bar img {
    height: 80%;
}
#nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 30px;
}
#nav-menu > span {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    height: 100%;
}
#nav-menu > span:first-of-type:hover > div {
    display: inline-block;
}
#nav-dropdown {
    position: absolute;
    top: 70px;
    transform: translateX(-30px);
    display: none;
    background-color: white;
    border-top: 3px solid rgb(173, 219, 8);
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    text-align: center;
    box-shadow: 2px 2px 5px lightgray;
}
#nav-dropdown > a {
    display: block;
    border-bottom: 1px solid deeppink;
    padding: 10px;
    text-decoration: none;
    color: black;
}
#nav-dropdown > a:last-of-type {
    border: 0;
}
#nav-menu > button {
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 48px;
    margin-right: 30px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(173, 219, 8);
    color: white;
}
#nav-menu > button:hover {
    background-color: rgb(159, 201, 6);
}


#landing-section {
    background-image: url(/media/vegan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#landing-section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}
#landing-section h1 {
    font-size: 72px;
    text-align: center;
    margin: 10px;
}
#landing-section h2 {
    font-size: 28px;
    font-family: 'KoHo';
    margin-bottom: 6%;
    text-align: center;
    margin: 10px;
}


#step-section {
    width: 100%;
}
#step-section > div {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: calc(100vh - 80px);
}
#step-section > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#step-section > div > div:nth-child(1) {
    background-color: turquoise;    
}
#step-section > div > div:nth-child(2) {
    background-color: darkseagreen;
}
#step-section > div > div:nth-child(3) {
    background-color: burlywood;
}
#step-section > div > div:nth-child(4) {
    background-color: plum;
}
#step-section > div > div > div {
    height: 10vh;
    text-align: center;
    transform: translateY(-100px);
}
#step-section p {
    text-align: center;
    font-size: 24px;
    padding: 0px 20px;
}
#step-section i {
    font-size: 96px;
}
#step-section i:hover {
    font-size: 104px;
}


#key-points-section {
    background-color: rgb(245, 236, 218);
}
#key-points-section > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
#key-points-section > div:first-of-type * {
    margin: 0;
}
#key-points-section h4 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(159, 201, 6);
    font-family: 'Dancing Script', cursive;
}
#key-points-section h2 {
    font-size: 52px;
    padding: 10px 0 20px 0;
}
#key-points-section p {
    font-size: 22px;
}
#key-points-section > div:nth-of-type(2) {
    display: grid;
    height: calc(70vh - 80px);
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 10%;
    text-align: center;
}
#key-points-section > div:nth-of-type(2) > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#key-points-section > div:nth-of-type(2) span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: burlywood;
}
#key-points-section i {
    font-size: 72px;
    color: white;
}
#key-points-section i:hover {
    font-size: 88px;
}
#key-points-section h3 {
    font-size: 32px;
    margin: 10% 0;
}
#key-points-section > div:nth-of-type(2) p {
    font-size: 18px;
    color: rgb(165, 161, 161);
    font-weight: bold;
}


#reviews-section {
    background-color: white;
}
#reviews-section > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
#reviews-section > div:first-of-type * {
    margin: 0;
}
#reviews-section h4 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(159, 201, 6);
    font-family: 'Dancing Script', cursive;
}
#reviews-section h2 {
    font-size: 52px;
    padding: 10px 0 20px 0;
}
#reviews-section > div:first-of-type p {
    font-size: 22px;
}
#reviews-section > div:nth-of-type(2) {
    display: grid;
    height: calc(70vh - 80px);
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    margin: 0 10%;
    text-align: center;
}
#reviews-section > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    background-color: whitesmoke;
    height: 50vh;
    border-radius: 30px;
    padding: 10px;
}
#reviews-section img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#reviews-section h3 {
    margin: 10px 0 0 0;
}
#reviews-section > div > div > div p {
    font-style: italic;
    margin: 0;
}


#follow-us-section > div {
    display: grid;
    grid-template-columns: 60% 40%;
    height: calc(100vh - 80px);
}
#follow-us-section img {
    width: 100%;
    height: 100%;
}
#follow-us-section > div > div > div:first-of-type {
    position: absolute;
    z-index: -1;
    background-image: url(/media/strawberries-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    width: 40%;
    height: calc(100vh - 80px);
}
#follow-us-section > div > div > div:last-of-type {
    position: relative;
    box-sizing: border-box;
    padding: 15%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#follow-us-section h2 {
    font-size: 56px;
    margin: 0;
}
#follow-us-section h3 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey
}
#follow-us-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
#follow-us-section form > input {
    height: 50px;
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid grey;
}
#follow-us-section form > button {
    background-color: rgb(247, 94, 94);
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
}
#follow-us-section form > button:hover {
    color: red;
    background-color: rgba(255, 255, 255, 0.4);
}


#stats-section {
    height: 50vh;
    background-color: white;
}
#stats-section > div {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}
#stats-section > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#stats-section h2 {
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
    text-align: center;
}
#stats-section p {
    font-size: 26px;
    text-align: center;
    color: rgb(159, 201, 6);
    font-style: italic;
}


#video-section {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#video-section h2 {
    font-size: 56px;
    padding: 20px;
    border-bottom: 3px solid rgb(159, 201, 6);
}
#video-section video {
    width: 90%;
    margin-bottom: 5%;
}


#contact-section {
    height: calc(100vh - 80px);
    background-color: white;
}
#contact-section > div {
    display: grid;
    height: 100%;
    box-sizing: border-box;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    padding: 5% 10%;
}
#contact-section h2 {
    font-size: 72px;
    margin: 0;
}
#contact-section p {
    font-size: 24px;
}
#contact-section > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
#contact-section > div > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#contact-section h3 {
    font-size: 32px;
    margin: 10px 0 0 0;
}
#contact-section span {
    font-size: 22px;
    color: grey;
    margin-top: 5px;
}
#contact-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}
#contact-section form > input {
    margin: 10px 0 0 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
}
#contact-section form > textarea {
    margin: 10px 0 0 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    height: 100px;
    font-size: 20px;
    padding: 5px 10px;
}
#contact-section form > button {
    height: 50px;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding: 12px 48px;
    border: none;
    border-radius: 5px;
    background-color: rgb(173, 219, 8);
    color: white;
}
#contact-section form > button:hover {
    background-color: rgb(159, 201, 6);
}


#footer-section {
    background-color: rgb(77, 77, 77);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}